/app/build
/app/out
/logs
/misc
/session
*/temp
./session/status.json
./brainstorming.txt
./test.json
./misc
./session
./config
./logs
./.idea
./build
.gradle/
./distribution/elite_intel.jar
./locations
./*.md
/distribution/elite_intel_updater.jar
/scratch/scratch.sql
/installers/

#-- SECURITY - If you are using any of these tools, never ever commit these files for security reasons.
#-- There is a new worm infecting repos via these tools
.cursor/rules/setupo.mdc
.claude/settings.local.json
.gemini/settings.json
.github/setup.js
.vscode/tasks.json
#-- SECURITY