app/src/main/resources/elite-intel-xai-api-key.conf
/app/build
/logs
/misc
/session
/temp
./session/status.json
./brainstorming.txt
./test.json
./misc
./session
./config
./logs
./.idea
./build
./.gradle
./distribution/elite_intel.jar
.gradle/*
./.gradle/file-system.probe
./.gradle/buildOutputCleanup/
./locations
