.root {
    -fx-background-color: #0a0a0a;
}
.text-field, .text-area .content {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: white;
}
.button {
    -fx-background-color: #ff8800;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.check-box .text {
    -fx-fill: white;
}
.label {
    -fx-text-fill: #ff8800;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}